div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 20px;
    height: 30%;
    width: 30%;
}

form > button {
    margin: 30px;
    height: 20px;
}

tr td {
    border: 1px solid black;
}

table {
    padding: 10px;
    margin: 29px; 
    height: 50%;
    width: 50%;
}