*{
    background-color: #3a3636;
}


/* task 1 */
#box1 {
    background-color: rgb(41, 153, 251);
    color: black;
}

/* task 2 */
#box2 {
    background-color: #ff5733;
    color: #efa5a5;
}

/* task 3 */
#box3{
    background-color: rgb(34, 139, 34);
    color: rgb(255, 255, 255)
}

/* task 4 */
#box4{
    background-color: hsl(200, 70%, 50%);
    color: hsl(0, 0%, 100%)
}

/* task5 */
.mix {
    background-color: #222;
    color: rgb(255, 215, 0)
}