.container {
    display: flex;
    background-color: aqua;
    border: 3px solid black;
    border-radius: 30px;
}

.child-2nd {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px;
    text-align: right;
    padding: 10px;
    color: rgb(195, 51, 51);
    font-size: 22px;
    font-weight: bold;
}

img{
    height: 70px;
}